.BreadcrumbContainer {
  display: flex;
  column-gap: 4px; 
}

.BreadItem {
  display: flex;
  column-gap: 4px; 
}

.Label {
  max-width: 65px;
  overflow: hidden;
  color: #8C8EA5;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  letter-spacing: -0.1px;
  cursor: pointer;
}