.HeaderContainer {
  width: 100%;
  height: 48px;
  border-bottom: 1px solid #E5E6E8;
  background: #FFF;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 16px;
}

.Branding {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.Logo {}

.BrandName {
  color: #8912FE;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
  letter-spacing: -0.1px;
}

.SearchBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4px 8px;
  column-gap: 8px;
  max-width: 404px;
  width: 100%;
  height: 28px;
  border-radius: 8px;
  border: 1px solid #E5E6E8;
  background: #FFF;
}

.SearchInput {
  color: #212129;
  text-align: center;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  letter-spacing: -0.1px;
  border: none;
  outline: none;
}

.SearchInput::placeholder {
  color: #B3B4CE;
}

.Actions {
  display: flex;
  column-gap: 4px;
}

.Keys {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.ProfileInfo {
  display: flex;
  align-items: center;
  column-gap: 22px;
}

.Focus {
  display: flex;
  column-gap: 8px;
  cursor: pointer;
  color: #8C8EA5;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  letter-spacing: -0.1px;
}

.Focus img {
  margin-bottom: -3px;
}

.NewIcon {
  display: flex;
  column-gap: 8px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 79px;
  height: 32px;
  background-color: transparent;
  color: #8C51ED;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
  letter-spacing: -0.1px;
  border-radius: 8px;
  border: 1px solid #E5E6E8;
  background: #FFF;
  box-shadow: 0px -1px 4px 0px rgba(0, 0, 0, 0.05) inset;
}

.NotifyIcon {
  cursor: pointer;
}

.ProfileIcon {
  display: flex;
  cursor: pointer;
}