* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.ScrollHide::-webkit-scrollbar {
  display: none;
  width: 0;
}

.ScrollHide {
  scrollbar-width: none;
  scrollbar-color: transparent transparent;
}

@media (prefers-color-scheme: dark) {
  .ScrollHide {
    scrollbar-color: transparent transparent;
  }
}